<router-outlet></router-outlet>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
        <a href="#" [routerLink]="['create']" class="btn btn-success">Create</a>

    </div>
    <div class="panel-body">
        <div>
            <input [(ngModel)]="filterBy" name="text" placeholder="filter products" class="form-control">
        </div>
        <div class="alert alert-success" *ngIf="filterBy">
            List filtered using : {{filterBy}}
        </div>

        <table *ngIf="products && products.length" class="table table-bordered table-hover">
            <tr>
                <th>
                    <button class="btn btn-success" (click)="toggleImage()">
                        {{showHideImage ? "Hide Image" : "Show Image"}}
                    </button>
                </th>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
            <tr *ngFor="let product of products | products : filterBy">
                <td>
                    <img *ngIf="showHideImage" [src]="product.imageUrl" style="width: 50px">
                </td>
                <td>
                    <a href="#" [routerLink]="['/products' , product.productCode]">
                        {{product.productName}}
                    </a>
                </td>
                <td>{{product.productCode}}</td>
                <td>{{product.price}}</td>
                <td>
                    <app-rating [rating]="product.starRating" (ratingtoParent)="ratingFnParent($event)"></app-rating>
                </td>
            </tr>

        </table>
    </div>

    <!-- <a href="#" [routerLink]="['addproduct']" class="btn btn-success">Add Product</a> -->
    <!-- <router-outlet></router-outlet> -->
</div>