<div class="panel panel-primary">
  <div class="panel-heading">
    PRODUCT DETAILS
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6 col-md-4">PRODUCT NAME:</div>
      <div class="col-xs-6 col-md-4">{{product.productName}}</div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">PRODUCT CODE:</div>
      <div class="col-xs-6 col-md-4">{{product.productCode}}</div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">PRODUCT DESCRIPTION:</div>
      <div class="col-xs-6 col-md-4">{{product.description}}</div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-4">AVAILABLE FROM:</div>
      <div class="col-xs-6 col-md-4">{{product.releaseDate}}</div>
    </div>

    <!-- <div class="row">
      <div class="col-xs-6 col-md-4">PRODUCT RATING</div>
      <!-- <div class="col-xs-6 col-md-4">{{product.starRating}}</div> -->
      <!-- <app-rating [rating]="product.starRating" (ratingtoParent)="ratingFnParent($event)"></app-rating>
    </div> -->

    <div class="row">
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4"></div>
      <div class="col-xs-6 col-md-4">
        <img [src]="product.imageUrl" style="width: 100px">
      </div>
    </div>

  </div>

</div>
<button class="btn btn-primary" (click)="backToList()">Back to List</button>